.car-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 30%;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #000;
  box-shadow: 0 1px 2px #00000033;
  font-size: 15px;
}

.car-container-item {
  margin: 5px;
}

.service-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 30%;
  justify-content: center;
  align-items: center;
  background: #fff;
  color: #000;
  box-shadow: 0 1px 2px #00000033;
  font-size: 15px;
}

.service-container-item {
  margin: 5px;
}

.service-container-item-info {
  /* visibility: hidden; */
  margin: 5px;
}
